app-top-bar {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
}


app-footer {
     position: sticky; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 2000; 
}

app-header {
   
}