<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="container">
  <h1 class="page-title">trip calculator</h1>
  <h3 class="sub-title">Rate the difficulty to receive personalized challenges and improve the platform for a better learning experience. 🌐🚀</h3>
  <mat-chip-listbox aria-label="Animal selection" style="height: 6vh;">
    <mat-chip-option *ngFor="let animal of animalList" (click)="categorySelected(animal.cageId)">
      <img *ngIf="animal.image" style="max-width: 30%;" [src]="'data:/images/png;base64,' + animal.image" alt="picture">
      {{ animal.name }}
    </mat-chip-option>
  </mat-chip-listbox>

  <br/>

  <div class="buttons-container">
    <button mat-fab extended color="primary" (click)="confirmSelectionQuestion()">
      Go to map
      <span class="material-symbols-outlined">
        arrow_right_alt
      </span>
    </button>
  </div>
</div>
