<div class="menu" style="z-index: 2000; position: relative; margin-top: 20vh;">
    <div class="box-model">
        <i class="fas fa-times fa-2x close"></i>
        <div class="arrow">
            <div class="arrow arrow-right"></div>
            <div class="arrow arrow-left"></div>
        </div>
        <div class="box-image-container">
            <div class="box-image">
                <img src=""  alt="Animal Photo">
            </div>
        </div>
    </div>
    <div class="menu-image-container">
        <div class="image">
            <button class="button-55" role="button" (click)="delete()" >Delete Animal</button>
            <img src="../../assets/images/delete1.png" alt="delete Animal Photo" style="position: relative;max-width: 50%;">
            
        </div>
        <div class="image">
            <button class="button-55" role="button" (click)="update()">Update Animal Details</button>
            <img src="../../assets/images/update1.png" alt="update Animal Photo" style="position: relative;max-width: 30%;">
        </div>
        <div class="image">
            <button class="button-55" role="button" (click)="add()">Add New Animal</button>
            <img src="../../assets/images/add1.png" alt=" add Animal Photo"style="position: relative;max-width: 40%;">
        </div>
        <div class="image">
            <button class="button-55" role="button" (click)="addEvent()">Add Riddle</button>
            <img src="../../assets/images/riddle1.png" alt="add event Photo" style="position: relative;max-width: 40%;">
        </div>
    </div>
    <div class="text">
        <!-- <h2>Area Manager</h2> -->
        <h3>Zoo Area Manager</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>Introducing our robust manager component, designed to streamline zoo operations effortlessly. With features to add, delete, and update animal data, as well as seamlessly integrate new events into the zoo calendar, managing your wildlife institution has never been more efficient.</p>
        <!-- <div><a class="a-CTA" href="#">View The Full Options</a></div> -->
    </div>
</div>